#footer {
  width: 100%;
  display: inline-block;
  height: 216px;
  background-image: image-url('footer.jpg');
  background-size: 100%;
  position: relative;
  bottom: 0;
  z-index: 2;
}

.social {
  margin-top: 15%;
  margin-left: 2%;
}

.fa {
  color: #707070;
  size: 10px
}
