.field {
  font-family: 'Open Sans';
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.new {
  margin-left: 45%;
  font-family: 'Open Sans';
}

input.button {
  margin-left: 38em;
  margin-right: auto;
  border-radius: 100%;
}

.flash, .flash-alert {
  margin-left: 41%;
}
