/* *************** top bar *****************************************    */

.top-bar {
  background-image: image-url('header.png');
  background-size: 100%;
  overflow: hidden;
  height: 13em;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #FF9A04;
}

/* ***********************masonry ******************************/

masonry-brick {
  width: 450px;
  margin: 10px;
  float: left;
}
#masonryContainer {
  width: 0 auto;
}

/* ****************************************************************     */

img {
 border-radius: 100%;
 height: 250px;
 top: 10px
}

#title, h1, h3 {
  text-align: center;
}

.row {
  margin-top: 50px;
  max-width: 43.5rem;
}

.large-12 .columns{
  width: 750px;
}


/* **************************media queries **********************/

@media only screen and (min-width: 350px) and (max-width: 2200px) {
  .large-12 {
    margin-left: 3em;
  }
}
