<div class="path-container">
  <div class="row">
    <div class="large-12 columns ">
      <h1> This is a Timeline!</h1>
    </div>
    <% @images.each do |image| %>
  </div>
  <section>
  <div class="row path-item">
    <div class="large-7 push-5 columns">
      <div class="circle circle-left ">
        <%= link_to image_path(image) do %>
          <%= image_tag image.photo.url, size:"300x300" %>
        <% end %>
      </div>
    </div>
    <div class="large-5 pull-7 columns path-text left">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p><%= image.description %></p>
    </div>
    <% end %>
  </div>
</section>
  <span class="line hide-for-small"></span>
</div>
