<h3>Cody</h3>

<div class="row">
  <div class="large-12 columns">
    <div id="masonryContainer">
      <% @images.each do |image| %>
      <div class="masonry-brick">
        <%= image_tag image.photo.url, size:"300x300",
        class:"attachment-thumbnail" %>
        <%= link_to image.description, image_path(image) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
