<div id="title">
  <h3> I haz a</h3>
  <h1> Website </h1>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="masonryContainer">
      <% @images.each do |image| %>
      <div class="masonry-brick">
        <%= link_to image_path(image) do %>
        <%= image_tag image.photo.url, size:"250x250"%>
        <% end %>
        <h3><%= image.description %></h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
